@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.cursorPointer {
  cursor: pointer;
}

.container-70 {
  width: 70%;
  margin: auto;
}
.container-80 {
  width: 80%;
  margin: auto;
}
.formGroup {
  margin-bottom: 1rem;
}

.img {
  border-radius: 10px;
}
.detail-img {
  width: 30%;
}
.pre-box {
  font-size: 1rem;
  line-height: 2rem;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-all;
}
.content-box{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: wrap;
  height: 10rem;
}
.comment-textarea {
  width: 100%;
  resize: none;
  font-size: 1rem;
}

.date {
  float: right;
}
@media only screen and (max-width: 1000px) {
  .container-50 {
    width: 95%;
  }
  .detail-img {
    width: 95%;
  }
  .date {
    float: left;
  }
}
